@import url(../fonts/montserrat.css);
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

fieldset, img {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a {
  text-decoration: none; }

.head {
  max-width: 100%;
  z-index: 8;
  min-height: 1070px;
  position: relative; }

.clear-fix:after {
  content: "";
  clear: both;
  display: block; }

.logo {
  width: 140px;
  height: 74px;
  background-color: #fa5c65;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  position: relative;
  float: left;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px; }

.logo__text {
  color: white;
  position: absolute;
  top: 25px;
  left: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 64px;
  font-family: Domine, Verdana, sans-serif; }

.logo__dot {
  color: #314a5b; }

.head__menu {
  max-width: 100%;
  min-height: 100%; }

.menu {
  font-size: 0; }

.menu__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 85px;
  text-transform: uppercase;
  color: #263742;
  font-family: Montserrat, Verdana, sans-serif; }

.menu {
  float: right; }
  .menu .menu__item {
    display: inline-block; }

.menu__item {
  margin-right: 20px; }

.menu__link {
  color: #263742; }

.menu__link:hover {
  color: #fa5c65; }

.menu__link-tvi,
.menu__link-face {
  display: block;
  width: 20px;
  height: 20px; }

.menu__link-tvi {
  background: url("../img/twitter-logo-silhouette(r).svg") no-repeat;
  background-size: 20px 20px; }

.menu__link-face {
  background: url("../img/facebook-logo(r).svg") no-repeat;
  background-size: 20px 20px; }

.header__devis {
  min-height: 142px;
  margin-top: 350px;
  max-width: 512px; }

.header__title {
  font-family: Montserrat, Verdana, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  text-transform: uppercase;
  color: #314a5b; }

.title__text {
  color: #314a5b;
  font-family: OpenSans, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px; }

.title__dot {
  color: #fa5c65; }

.head__but {
  display: block;
  width: 171px;
  height: 64px;
  background-color: #fa5c65;
  border-radius: 7px;
  text-align: center;
  color: white;
  font-family: OpenSans, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 64px;
  margin-top: 40px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px; }

.head__but:hover {
  background-color: #f0454c; }

.content {
  max-width: 100%;
  min-height: 100%;
  margin: 50px auto;
  background: #ffffff; }

.content__up {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.peace, .free, .simple {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.content__up-title {
  font-family: Montserrat, Verdana, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #465065; }

.content__up-text {
  color: #9aa0ab;
  font-family: OpenSans, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 30px; }

.more {
  display: block;
  color: #fa5c65;
  font-family: Montserrat, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 30px; }

h2 {
  font-family: Montserrat, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
  color: #314a5b; }

.content__down {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.imac, .portfolio {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.imac {
  min-height: 301px;
  position: relative;
  overflow-x: hidden; }

.imac__pics {
  width: 500px;
  min-height: 100%;
  background: url("../img/MacBook.jpg") no-repeat;
  position: absolute;
  right: 100px; }

.content__down {
  margin-top: 100px; }

.arrow {
  margin-left: 3px; }

.our__team {
  max-width: 100%;
  min-height: 100%;
  margin-top: 100px; }

h3 {
  font-family: Montserrat, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  color: #314a5b; }

.team__title-text {
  color: #9aa0ab;
  font-family: OpenSans, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }

.team {
  max-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.team__content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 130px;
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.team__person {
  max-width: 150px;
  min-height: 100%; }

.team__photo {
  width: 130px;
  height: 130px;
  box-shadow: inset 2.5px 4.3px 9px rgba(1, 1, 1, 0.06);
  border-radius: 128px;
  margin-right: 20px; }

.team__photo-joey {
  background: url("../img/Joey.png") white no-repeat center center; }

.team__photo-matt {
  background: url("../img/matt.png") white no-repeat center center; }

.team__photo-mike {
  background: url("../img/mike.png") white no-repeat center center; }

h5 {
  color: #314a5b;
  font-family: Montserrat, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase; }

.profession {
  color: #f0454c;
  font-family: OpenSans, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

.professional__skill {
  color: #9aa0ab;
  font-family: OpenSans, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 5px; }

.more-team {
  text-align: right;
  display: block;
  margin-top: 45px; }

/*
	Montserrat, 400, 700
*/
footer {
  max-width: 100%;
  min-height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #e6eaed; }

.social {
  width: 150px;
  height: 22px; }

.social__footer {
  max-width: 100%;
  font-size: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.social__footer .social__item {
  display: inline-block; }

.social__link {
  width: 20px;
  height: 20px;
  display: block; }

.social__link-tweet {
  background: url("../img/twitter-logo-silhouette(g).svg") no-repeat;
  background-size: 20px 20px; }

.social__link-photo {
  background: url("../img/small-camera(g).svg") no-repeat;
  background-size: 20px 20px; }

.social__link-faceb {
  background: url("../img/facebook-logo(g).svg") no-repeat;
  background-size: 20px 20px; }

.social__link-google {
  background: url("../img/google-plus-logo(g).svg") no-repeat;
  background-size: 20px 20px; }

.social__link-tweet:hover {
  background: url("../img/twitter-logo-silhouette(r).svg") no-repeat;
  background-size: 20px 20px; }

.social__link-photo:hover {
  background: url("../img/small-camera(r).svg") no-repeat;
  background-size: 20px 20px; }

.social__link-faceb:hover {
  background: url("../img/facebook-logo(r).svg") no-repeat;
  background-size: 20px 20px; }

.social__link-google:hover {
  background: url("../img/google-plus-logo(r).svg") no-repeat;
  background-size: 20px 20px; }

.social__link:hover {
  -webkit-transition: All 0.8s ease;
          transition: All 0.8s ease; }

.creature {
  color: #b9c0c6;
  font-family: OpenSans, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 60px; }

.copywrite {
  margin-right: 5px; }

@media (max-width: 1024px) {
  .box {
    max-height: 768px; }

  .head {
    min-height: 768px; }

  .header__devis {
    margin-top: 200px; } }
@media (max-width: 950px) {
  .center {
    padding-left: 15px;
    padding-right: 15px; } }
@media (max-width: 700px) {
  .box {
    max-height: 400px; }

  .head {
    min-height: 100%; }

  .header__devis {
    margin-top: 100px; }

  .header__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 40px; }

  .title__text {
    font-size: 18px; }

  .head__but {
    margin-top: 20px;
    width: 151px;
    height: 44px;
    line-height: 40px; }

  .content {
    margin-top: 80px; }

  .peace, .free, .simple {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
    margin-top: 20px; }

  .more {
    margin-top: 15px; }

  .content__up-text {
    margin-top: 15px;
    text-align: justify; }

  .content__down {
    margin-top: 20px; }

  .imac, .portfolio {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
    text-align: center; }

  .imac {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .portfolio {
    margin-top: 20px; }

  .our__team {
    margin-top: 40px; }

  .imac__pics {
    position: relative;
    margin: 0 auto;
    background-size: contain;
    right: 0; }

  .team__title {
    text-align: center; }

  .team__content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .team__photo, .team__person {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 50%; } }
@media (max-width: 540px) {
  .menu {
    width: 100%;
    text-align: center; }

  .menu__item {
    margin-right: 15px; }

  .header__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-align: center; }

  .title__text {
    font-size: 17px;
    text-align: center;
    color: #f0454c; }

  .head__but {
    margin: 40px auto; }

  .content {
    margin-top: 40px; }

  h2,
  h3 {
    font-size: 26px;
    line-height: 30px; }

  h4 {
    font-size: 24px; }

  .portfolio {
    margin-top: 0; } }
@media (max-width: 371px) {
  .imac {
    min-height: 230px; }

  .menu__item .menu__link {
    display: none; }

  .menu__item-one .menu__link {
    display: block;
    color: #f0454c; }

  .menu__item-one {
    margin: 0 auto;
    width: 100%; }

  .creature {
    line-height: 30px;
    text-align: center; } }
html,
body {
  height: 100%; }

body {
  margin: 0 auto;
  width: 100%;
  z-index: 9; }

.box {
  background: url("../img/head_bg.jpg") no-repeat top center;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  background-size: cover;
  max-width: 100%;
  height: 1070px; }

.conteiner {
  margin: 0 auto;
  max-width: 940px; }

/*# sourceMappingURL=style.css.map */